body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../resources/images/paper1.png);
    opacity: 0.1;
}

.file-browser {
    display: flex;
    gap: 2rem;
    font-family: 'Roboto', sans-serif;
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: var(--offwhite); */
}



/* .barContainer *************************************************************************************************************/
.barContainer  {
    width: 100%;
    margin-top: 2rem;
    /* gap: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.barContainer > div {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid black; */
    /* background: var(--offwhite); */
    border-radius: 2rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12); 
    font-family: 'PP Neue Montreal', 'Roboto', sans-serif;
    background: var(--offwhite);
}

#fileSearch {
    width: calc(100% - 10rem);
    outline: none;
    /* box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12); */
    /* border-radius: 2rem; */
    /* padding: 0.5rem; */
    /* padding-left: 1rem; */
    /* position: absolute; */
    /* background: blue; */
}

/* .filter *************************************************************************************************************/

.filter {
    position: relative;
    /* right: calc(25% + 7rem); */
    width: 7rem;
    height: 50px;
}

.filter .filter-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 100%;
    background: #f0f0f0;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    z-index: 100;
}

.filter span {
    margin-left: 1.2rem;
}

.filter .filter-group label {
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
    position: relative;
}

.filter .filter-group label:hover {
    background: #62baea;
    color: #fff;
}

.filter input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 1rem;
    /* background: #f0f0f0; */
    border-right: 2px solid rgba(0, 0, 0, 0.12);
}

.filter .filter-group input[type="checkbox"] { 
    width: auto;
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
}

.filter::before {
    top: 25px;
    right: 28px;
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #555;
    z-index: 10;
    transform: rotate(40deg);
}

.filter.active::before {
    right: 20px;
}

.filter::after {
    top: 25px;
    right: 20px;
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #555;
    z-index: 10;
    transform: rotate(-40deg);
}

.filter.active::after {
    right: 28px;
}

.filter .filter-group {
    position: absolute;
    top: calc(100% + 1rem);
    width: 18rem;
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
}

.filter.active .filter-group {
    visibility: visible;
    opacity: 1;
}

.filter .filter-group div {
    padding: 12px 20px;
    cursor: pointer;
}

.filter .filter-group div:hover {
    background: #62baea;
    color: #f0f0f0;
}

.filter input:focus{
    outline: none;
}

/* .filter-group *************************************************************************************************************/

.file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 1rem;
    flex: 1;
    justify-content: center;
    align-content: start;
    width: 80%;
}

/* .file-card *************************************************************************************************************/

.file-card {
    border-radius: 4px;
    padding: 1rem;
    height: 110px;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: black;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    background: linear-gradient(145deg, #fdfbf7, #f2ede3);
    border: 1px solid #d4cbb3;
}

.file-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.file-card .file-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.file-card .file-division {
    font-size: 0.85rem;
    color: #555;
}

.file-card .file-name,
.file-card .file-division {
  width: 100%;
  white-space: normal;
  word-break: break-word;
}

@media (max-width: 768px) {
    .file-browser {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
    }
}