#council-container {
    /* width: 90%;
    max-width: 1200px;
    margin: 4vh auto;
    font-family: 'Roboto', sans-serif;
    text-align: center; */

    margin: 4vh auto;
    font-family: 'PP Neue Montreal', 'Roboto', sans-serif;
    text-align: center;

    --g: 2rem;
    --w: 616px;
    width: calc(var(--w) + var(--g)*2);
    min-height: 82vh;
}

body {
    background: #f1f2f4;
}

.tables-wrapper {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    background: white;
    
    gap: var(--g);
    padding: var(--g);
}

.tables-wrapper > h2 {
    width: 100%;
    font-size: 3rem;
    /* letter-spacing: 0.01em; */
}

.council-table {
    /* flex: 1 1 45%;
    min-width: 300px;
    max-width: 500px;
    overflow-x: auto; */

    flex: 1 1 90%;
    overflow-x: auto;
    border-radius: 10px;
    background: #f9fafb;
    padding-top: var(--g);
}

.council-table > table > thead > tr > th:first-of-type {
    border-top-left-radius: 10px;
}

.council-table > table > thead > tr > th:last-of-type {
    border-top-right-radius: 10px;
}

.council-table table {
    /* width: 100%;
    border-collapse: collapse;
    font-size: 1rem; */

    width: 90%;
    border-collapse: collapse;
    font-size: 1rem;
    border-radius: 10px;
    margin: 0 auto;
    padding: auto 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 2px black;
    background: white;
}

.council-table thead {
    /* border-bottom: 2px solid #333;
    background-color: #f9f9f9; */
    
    background: #012c63;
    color: white;
}

.council-table th,
.council-table td {
    padding: 0.8rem 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.council-table > table > tbody > tr:last-of-type > td {
    border: none !important;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .council-table table {
        font-size: 0.8rem;
    }

    .council-table th,
    .council-table td {
        padding: 0.5rem 0.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .council-table h3 {
        font-size: 1rem;
    }
}